In [1]:
import pandas as pd
import datetime

In [2]:
df = pd.read_csv(
    '../test/sample_data.csv'
)
df["time"] = pd.Series([
    datetime.datetime.strptime(y, "%Y-%m-%d %H:%M:%S")
    for y in df["time"]
])
df = df.set_index("time")
df

                      name  sales  dummy
time
2021-09-03 01:07:00  xuwsn  10300    NaN
2021-09-03 01:18:00  kqnrm  49337    NaN
2021-09-03 02:52:00  loooj   6831    NaN
2021-09-03 03:11:00  heeyf  45102    NaN
2021-09-03 04:21:00  kkocy  16011    NaN
...                    ...    ...    ...
2033-02-06 15:34:00  bhuht  28393    NaN
2033-02-06 17:17:00  pbblb  32229    NaN
2033-02-06 17:55:00  ltbmn  33222    NaN
2033-02-06 19:12:00  asahn  46400    NaN
2033-02-06 19:55:00  vgkeg  10091    NaN

[100000 rows x 3 columns]

In [3]:
%%timeit -n 1 -r 1
df = pd.read_csv(
    '../test/sample_data.csv'
)

103 ms ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)

In [4]:
comment='''
%%timeit -n 1 -r 1
pd.Series([
    datetime.datetime.strptime(y, "%Y-%m-%d %H:%M:%S")
    for y in df["time"]
])
'''

In [5]:
%%timeit -n 1 -r 1
df[df["sales"] >= 2000]

13.7 ms ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)

In [6]:
%%timeit -n 1 -r 1
df[(df["sales"]>1000)&(df["sales"]<3000)]

4.4 ms ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)

In [7]:
%%timeit -n 1 -r 1
df.sort_values("name")

72.5 ms ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)

In [8]:
%%timeit -n 1 -r 1
df.sort_values("name")

69.9 ms ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)

In [9]:
%%timeit -n 1 -r 1
df.sort_values("sales")

28.3 ms ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)

In [10]:
%%timeit -n 1 -r 1
df.sort_values("time")

9.66 ms ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)

In [11]:
%%timeit -n 1 -r 1
df.drop_duplicates()

32.1 ms ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)

In [12]:
%%timeit -n 1 -r 1
df.groupby(["time","name"]).mean()

59 ms ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)

In [13]:
%%timeit -n 1 -r 1
df.groupby(["time","name"]).max()

57 ms ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)

In [14]:
%%timeit -n 1 -r 1
df.groupby(["time","name"]).agg({"sales":lambda x: x.mean()/100})

6.2 s ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)

In [28]:
%%timeit -n 1 -r 1
def f(d):
    c = 0
    #if d["name"].iloc[0] == df["name"][0]:
    #    c = d["sales"].mean()/10
    #else:
    c = d["sales"].mean()*10
    return pd.Series({
        "sales_changed": c
    })
df.groupby(["time","name"]).apply(f)

44.6 s ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)

In [16]:
%%timeit -n 1 -r 1
df.resample("H").mean()

52.5 ms ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)

In [17]:
%%timeit -n 1 -r 1
df.resample("30T").mean()

34.9 ms ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)

In [18]:
%%timeit -n 1 -r 1
df.resample("30T").agg({"sales":lambda x: x.sum()*100})

9.76 s ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)

In [19]:
%%timeit -n 1 -r 1
def f2(d):
    c = 0
    if len(d) == 0:
        c = None
    #elif d["name"].iloc[0] == df["name"][0]:
    #    c = d["sales"].mean()/10
    else:
        c = d["sales"].mean()*10
    return pd.Series({
        "sales_changed": c
    })
df.resample("30T").apply(f2)

1min 22s ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)

In [20]:
%%timeit -n 1 -r 1
df.rolling(5).sum()

13.6 ms ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)

In [21]:
%%timeit -n 1 -r 1
def f3(d):
    c = 0
    if len(d) == 0:
        c = None
    #elif df.loc[d.index, "name"][0] == df["name"][0]:
    #    c = d.mean()/10
    else:
        c = d.mean()*10
    return c
df.rolling(5).apply(f3)

15.1 s ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)

In [29]:
%%timeit -n 1 -r 1
df.rolling("H").sum()

17.1 ms ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)

In [23]:
%%timeit -n 1 -r 1
def f3(d):
    c = 0
    if len(d) == 0:
        c = None
    #elif df.loc[d.index, "name"][0] == df["name"][0]:
    #    c = d.mean()/10
    else:
        c = d.mean()*10
    return c
df.rolling("H").apply(f3)

15 s ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)

In [24]:
%%timeit -n 1 -r 1
def f3(d):
    c = 0
    if len(d) == 0:
        c = None
    #elif df.loc[d.index, "name"][0] == df["name"][0]:
    #    c = d.mean()/10
    else:
        c = d.mean()*10
    return c
df.rolling("30T").apply(f3)

15 s ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)