In [1]:
import datetime
import pandas as pd

In [2]:
df1 = pd.DataFrame({
    "a": [1,2,3,4,5],
    "b": [10,20,30,40,50],
    "c": [100,200,300,400,500],
}).set_index("a")

df2 = pd.DataFrame({
    "a": [1,2,3],
    "d": [1000,2000,3000],
}).set_index("a")

df3 = pd.DataFrame({
    "a": [1,2],
    "e": [10000,20000],
}).set_index("a")

df4 = pd.DataFrame({
    "b": [1,2],
    "a": [10000,20000],
}).set_index("a")

print(df1)
print("----------------")
print(df2)
print("----------------")
print(df3)

    b    c
a
1  10  100
2  20  200
3  30  300
4  40  400
5  50  500
----------------
      d
a
1  1000
2  2000
3  3000
----------------
       e
a
1  10000
2  20000

In [3]:
df1.merge(df2, on="a", how="inner").merge(df3, on="a", how="inner")

    b    c     d      e
a
1  10  100  1000  10000
2  20  200  2000  20000

In [4]:
df1.join([df2, df3], how="outer")

    b    c       d        e
a
1  10  100  1000.0  10000.0
2  20  200  2000.0  20000.0
3  30  300  3000.0      NaN
4  40  400     NaN      NaN
5  50  500     NaN      NaN

In [5]:
df1.merge(df4, left_on="a", right_on="b", how="right")

   b_x    c  b_y
0   10  100    1
1   20  200    2

In [6]:
df1.merge(df2, on="a")

    b    c     d
a
1  10  100  1000
2  20  200  2000
3  30  300  3000

In [7]:
start = datetime.datetime.strptime(f'2021-08-01', '%Y-%m-%d')
df_t = pd.DataFrame({
    "t": [start + datetime.timedelta(hours=5)*(x//3) for x in range(10)],
    "a": [x+1 for x in range(10)],
}).set_index("t")

df_t

                      a
t
2021-08-01 00:00:00   1
2021-08-01 00:00:00   2
2021-08-01 00:00:00   3
2021-08-01 05:00:00   4
2021-08-01 05:00:00   5
2021-08-01 05:00:00   6
2021-08-01 10:00:00   7
2021-08-01 10:00:00   8
2021-08-01 10:00:00   9
2021-08-01 15:00:00  10

In [8]:
df_t.rolling('1d').sum()

                        a
t
2021-08-01 00:00:00   1.0
2021-08-01 00:00:00   3.0
2021-08-01 00:00:00   6.0
2021-08-01 05:00:00  10.0
2021-08-01 05:00:00  15.0
2021-08-01 05:00:00  21.0
2021-08-01 10:00:00  28.0
2021-08-01 10:00:00  36.0
2021-08-01 10:00:00  45.0
2021-08-01 15:00:00  55.0

In [9]:
df_t.rolling(3).sum()

                        a
t
2021-08-01 00:00:00   NaN
2021-08-01 00:00:00   NaN
2021-08-01 00:00:00   6.0
2021-08-01 05:00:00   9.0
2021-08-01 05:00:00  12.0
2021-08-01 05:00:00  15.0
2021-08-01 10:00:00  18.0
2021-08-01 10:00:00  21.0
2021-08-01 10:00:00  24.0
2021-08-01 15:00:00  27.0