In [1]:
import datetime
import pandas as pd

In [19]:
df1 = pd.DataFrame({
    "a": [1,2,3,4,5],
    "b": [10,20,30,40,50],
    "c": [100,200,300,400,500],
}).set_index("a")

df2 = pd.DataFrame({
    "a": [1,2,3],
    "d": [1000,2000,3000],
}).set_index("a")

df3 = pd.DataFrame({
    "a": [1,2],
    "e": [10000,20000],
}).set_index("a")

print(df1)
print("----------------")
print(df2)
print("----------------")
print(df3)

    b    c
a
1  10  100
2  20  200
3  30  300
4  40  400
5  50  500
----------------
      d
a
1  1000
2  2000
3  3000
----------------
       e
a
1  10000
2  20000

In [26]:
df1.merge(df2, on="a", how="inner").merge(df3, on="a", how="inner")

    b    c     d      e
a
1  10  100  1000  10000
2  20  200  2000  20000

In [30]:
df1.join([df2, df3], how="outer")

    b    c       d        e
a
1  10  100  1000.0  10000.0
2  20  200  2000.0  20000.0
3  30  300  3000.0      NaN
4  40  400     NaN      NaN
5  50  500     NaN      NaN